@import '../../../scss/variables.scss';

.linkClient {
  display: flex;
  align-items: center;
  color: $color-white;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
}
