@import '../../scss/variables.scss';

.btn {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: $color-white;
  padding: 10px 34px;
  background-color: $color-pink;
  min-height: 48px;
  border-radius: 60px;
  @include trans;

  &:hover,
  &:active {
    background-color: $button-hover;
    @include trans;
  }

  @include viewport--lg {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
